/* ================== TEMA GERAL ================== */
body, html, [data-testid="stAppViewContainer"] {
    background-color: #0d1117 !important;
    color: #e6edf3 !important;
    font-family: 'Segoe UI', sans-serif;
}

/* ================== CABEÇALHO ================== */
header[data-testid="stHeader"] {
    background: none !important;
    box-shadow: none !important;
}
header[data-testid="stHeader"] > div {
    height: 0rem !important;
}

/* ================== TÍTULOS ================== */
h1, h2, h3 {
    color: #00bcd4 !important;
    text-shadow: 0 0 6px rgba(0, 188, 212, 0.3);
}

/* ================== TEXTOS ================== */
p, span, div, label, input, textarea, .css-10trblm {
    color: #e6edf3 !important;
    font-size: 0.8rem !important;
}

/* ================== TEXTAREA ================== */
.stTextArea textarea {
    background-color: #161b22 !important;
    color: #e6edf3 !important;
    border: 1px solid #30363d !important;
    border-radius: 6px !important;
    font-family: 'Fira Code', monospace;
}

/* ================== CAMPOS DE LOGIN ================== */
input[type="text"], input[type="password"], input[type="email"] {
    background-color: #161b22 !important;
    color: #e6edf3 !important;
    border: 1px solid #30363d !important;
    border-radius: 6px !important;
    padding: 0.5rem !important;
}

input::placeholder {
    color: #94a3b8 !important;
}

/* ================== BOTÕES ================== */
.stButton>button {
    background: transparent;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    transition: background 0.2s ease-in-out;
}

.stButton>button:hover {
    background: #00b4d8;
    color: #0d1117;
    font-weight: bold;
}


/* DOWNLOAD BUTTON */
button[title="Download"] {
    background-color: #21262d !important;
    border: 1px solid #00bcd4 !important;
    color: #00bcd4 !important;
}
button[title="Download"]:hover {
    background-color: #00bcd4 !important;
    color: #0d1117 !important;
}

/* ================== ALERTAS ================== */
[data-testid="stAlert"] {
    background-color: #1e222a !important;
    color: #facc15 !important;
    border-left: 4px solid #facc15;
    font-size: 0.95rem;
}

/* ================== SIDEBAR ================== */
[data-testid="stSidebar"] {
    background-color: #0d1117 !important;
    border-right: 1px solid #1f2937;
}

[data-testid="stSidebar"] h1, 
[data-testid="stSidebar"] h2, 
[data-testid="stSidebar"] span {
    color: #58a6ff !important;
}

/* ================== AJUSTES FINAIS ================== */

/* Remove linha superior padrão */
section.main > div {
    overflow-y: auto !important;
}

/* Força preenchimento sem scroll */
html, body {
    overflow-x: hidden !important;
}

/* Container central no login (40%) */
.block-container {
    max-width: 100%;
    margin: auto;
    padding-top: 2rem;
}

/* Alinha ícone de senha */
.css-1cpxqw2 {
    filter: invert(100%);
}
